# Boids dist

dist /extensions/PropertyTree/PropertyTree.dist               https://raw.githubusercontent.com/OpenEngineDK/extensions-PropertyTree/master/PropertyTree.dist

# standard set of extensions
git /extensions/Boids        https://github.com/OpenEngineDK/extensions-Boids.git
git-dev /extensions/Boids    git@github.com:OpenEngineDK/extensions-Boids.git

