# Boids dist

dist /extensions/PropertyTree/PropertyTree.dist               http://openengine.dk/code/extensions/PropertyTree/PropertyTree.dist

# standard set of extensions
darcs /extensions/Boids        http://openengine.dk/code/extensions/Boids
darcs-dev /extensions/Boids    fh.daimi.au.dk:/users/cgd/code/extensions/Boids

